body{
  font-family: Helvetica, Roboto, sans-serif;
  background-color: #eee;
  color: #000;
  margin: 0;
  font-family: sans-serif;
}

.item img{
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

.carousel{
  height:100vh;
}

.fullwidth{
  margin-top: -20px;
  z-index: -1;
  width: 100%;
  height: auto;
}

.boxed{
  border: 2px solid black;
  margin-top: 40px !important;
  width: 400px !important;
}

.label{
  margin-top: 40px;
}

p{
  display: inline-block;
  z-index: 1;
  padding: 20px;
  padding-bottom: 0px;
  line-height: 1.4em;
  font-kerning: normal;
}

.right80{
  padding-right: 80px;
}

.header{
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding-left: 100px;
  margin: 0;
}

.header a{
  text-decoration: none;
  color: #fff;
}

.logo:hover{
font-size: 36px;
transition: .2s ease-out;
}

.dropbtn{
  cursor: pointer;
   text-shadow:   0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                  0 0 20px #A5F1FF, 0 0 20px #A5F1FF,
                  0 0 30px #A5F1FF;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a{
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover{
  background-color: #333;
}

.dropdown:hover .dropdown-content{
  display: block;
}


.dropdown:hover .dropbtn{
background-color: #333;
}

.header-links{
  top: 35px;
  display: inline-block;
  right: 40px;
  position: absolute;
}

.header-links-active{
border-bottom: 3px solid;
}


.header-links a{
    color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 800;
  padding: 8px;
  text-transform:uppercase;
}

.header-links a:hover{
  color: #fff;
}

.pagefull{
  text-decoration: underline;
  color: #fff;
  max-height: 100vh;
  overflow:hidden;
}

.bigtext{
  font-size: 60px;
  margin-bottom: -25px;
  color: #fffdf6;
  color: #D0F8FF;
}

.centerthis{
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translateY(-50%);
}

footer{
  z-index: 0;
  font-weight: 800;
  text-align: center;
  position: relative;
  bottom:0;
  left:0;
  right:0;
  height:auto;
  width: auto;
  color: #fff;
  background-color: #333;
  padding: 20px;
}

.textbox{
  width: 800px;
  margin: auto;
}

@media only screen and (max-width: 768px){

  .header-links a{
    width: 33%;
    text-align: center;
    font-size: 15px;
    padding: 4px;
  }
  .centerthis{
    left: 0;
  }

.carousel{

}

  .item img{
    width: 100%;
    height: auto;
  }

  .header{
    height: 94px;
  }

  footer{
    left:0;
    bottom: 0;
    right: 0;
    position: relative;
  }

  .header-links{
    top: 70px;
    padding-bottom: 20px;
}
.textbox{
  padding-right: 20px !important;
  width: auto;
}
}
